$color_navbar: #191e3ecf;
$color_body1: rgb(50, 42, 87);
$color_body2: rgb(132, 54, 107);
$color_black: black;
$color_white: white;
$color_add: #615C7E;
$color_icon : #616867;
$color_hover: rgba(255, 255, 255, 0.174);