$color_navbar: #191e3ecf;
$color_body1: rgb(50, 42, 87);
$color_body2: rgb(132, 54, 107);
$color_black: black;
$color_white: white;
$color_add: #615C7E;
$color_icon : #616867;
$color_hover: rgba(255, 255, 255, 0.174);
$color_scroll: #987F98;
$color_scrollbackground: #7866785c;
$color_text: rgb(115, 126, 136);
$color_header: rgba(215, 225, 234, 0.674);
$color_input: #22272B;
$color_foucs: #85B8FF;