@import "color";

// start public
body {
    text-transform: capitalize;
    background: -webkit-linear-gradient(118deg, $color_body1, $color_body2);
    background: linear-gradient(118deg, $color_body1, $color_body2);
    background-repeat: no-repeat;
    height: 100vh;
}

.mouse_all {
    cursor: pointer;
}

// end public

// start navbar
header {
    background-color: $color_navbar;
}

// end navbar

// start main
.div_all {
    max-width: 270px;
}

.title_size {
    font-size: 15px;
}

.hover_icon {
    color: $color_icon;
    background-color: $color_hover;
}

// end main