@import "color";

// start public

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $color_scrollbackground;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: $color_scroll;
}

#__nuxt {
    text-transform: capitalize;
    background: -webkit-linear-gradient(118deg, $color_body1, $color_body2);
    background: linear-gradient(118deg, $color_body1, $color_body2);
    min-width: max-content;
    background-repeat: no-repeat;
    height: 100vh;
}

.mouse_all {
    cursor: pointer;
}

.text_header {
    color: $color_header;
}

.color_text {
    color: $color_text;
}

.dark-background {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

// end public

// start navbar
body header {
    background-color: $color_navbar;
}

// end navbar

// start main
body div .div_all {
    min-width: 270px;
}

body div div div .title_size {
    font-size: 14px;
}

body div div div .hover_icon {
    color: $color_icon;
}

body div div div .hover_icon:hover {
    background-color: $color_hover;
}

body .div_lastcards .div_cards .icon_top {
    margin-top: 3px;
}

body div .div_all div .icon_top1 {
    margin-top: 10px;
}

body .div_lastcards {
    background-color: $color_add;
    height: 50px;
    margin-right: 10px;
    transition: 0.3s;
}

body .div_lastcards:hover {
    background-color: $color_hover;
}

body div .div_all .div_bottom {
    gap: 8px;
    margin-left: -10px;
    padding-left: 12px !important;
}

body div .div_all .div_bottom:hover {
    background-color: $color_hover;
}

body .card_list {
    background-color: $color_black !important;
    height: 95px !important;
}

body .div_lastcards form .inputAdd {
    width: 95%;
    background-color: $color_input;
}

body .div_lastcards form .inputAdd:focus {
    outline: 2px solid $color_foucs;
}

body div .div_all div div .divDelete {
    right: -70px;

}

body div .div_all div div .deleteNone {
    display: none;
}

// end main
// start media
@media(max-width: 990px) {
    .div_all {
        width: 90%;
    }

    #__nuxt {
        min-height: 100%;
        padding-bottom: 23px;
    }
}

// end media